<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timestamp Microservice</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body
    class="bg-ivory text-mistyBlue break-words p-2 text-center font-one flex flex-col min-h-screen"
  >
    <header class="mb-8 p-2">
      <h1 class="text-4xl font-bold text-shadow-xl p-3">
        Timestamp Microservice
      </h1>
      <p class="text-lg text-tealGreen italic">
        Convert dates and timestamps with style!
      </p>
    </header>

    <main class="flex-1">
      <section class="mb-6">
        <h2 class="text-2xl font-semibold mb-2">API Endpoints</h2>

        <div
          class="text-ivory flex flex-col justify-center items-center max-w-2xl w-full mx-auto gap-4"
        >
          <a
            href="/api/2025-04-06"
            class="bg-tealGreen shadow-4xl w-full p-4 rounded hover:bg-coral active:bg-coral"
          >
            Example: [project url]/api/2025-04-06
          </a>
          <a
            href="/api/1680777600000"
            class="bg-tealGreen shadow-4xl w-full p-4 rounded hover:bg-coral active:bg-coral"
          >
            Example: [project url]/api/1680777600000
          </a>
          <a
            href="/api/"
            class="bg-tealGreen shadow-4xl w-full p-4 rounded hover:bg-coral active:bg-coral"
          >
            Example: [project url]/api/
          </a>
        </div>
      </section>

      <section>
        <h2 class="text-2xl font-semibold mb-2">Example Output</h2>
        <div class="bg-mistyBlue rounded max-w-2xl mx-auto p-4 overflow-x-auto">
          <pre class="text-ivory font-mono text-sm text-left whitespace-pre">
              <code>
 {
    "unix": 1451001600000,
    "utc": "Fri, 25 Dec 2015 00:00:00 GMT"  
 }</code>
            </pre>
        </div>
      </section>
    </main>

    <footer class="text-sm text-mistyBlue p-4">
      <hr class="my-4 border-coral" />
      &copy; 2025 Raphael's Timestamp Microservice
    </footer>
  </body>
</html>
