@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-one: "Roboto", sans-serif;
  /* --color-*: initial; */
  --color-tealGreen: #4297a0;
  --color-ivory: #f4eae6;
  --color-coral: #e57f84;
  --color-mistyBlue: #2f5061;
  --shadow-4xl: 0px 2px 4px 3px #2f5061;
  --text-shadow-xl: 2px 2px 5px rgba(47, 80, 97, 0.5);
}

body {
  font-size: clamp(1.2rem, 3vw, 1.4rem);
  /* color: rgb(47, 80, 97); */
}

@media (max-width: 400px) {
  h1 {
    font-size: clamp(1.6rem, 4vw, 2rem);
  }
}

/****** Main Styling ******/
/* body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fafafa;
  text-align: center;
  line-height: 1.4em;
}

.container {
  padding: 0;
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

hr {
  margin: 25px;
}

.footer {
  margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

a {
  color: #2574a9;
} */
